h1,
h3,
.logo,
.description,
.project-details {
  font-style: normal;
  letter-spacing: -0.04em;
}

h1 {
  display: flex;
  font-weight: 700;
  font-size: var(--global-font-size-xxl);
  line-height: 100%;
  color: #000000;
  padding-bottom: var(--global-padding-2);
  width: 70%;
}

h3 {
  font-weight: 700;
  font-size: var(--global-font-size-medium);
  line-height: 140%;
  color: #000000;
  padding-bottom: var(--global-padding-1-5);
}

.description {
  width: 600px;
  font-weight: 400;
  font-size: var(--global-font-size-mdeium);
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #000000;
  padding-bottom: 100px;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--global-font-size-medium);
  line-height: 140%;
  letter-spacing: -0.02em;
  /* padding-top: 2rem; */
  padding-bottom: 1rem;
}

div > p > img {
  /* height: 400px; */
  align-items: center;
}

.secondinfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.secondinfo > div {
  flex: 1;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

.aboutlinks {
  padding-bottom: 100px;
}

.year-header {
  grid-column: 1;
  font-size: 6rem;
  font-weight: 700;
}
