  <footer class="footer">
    <p>© 2005-{{ site.time | date: "%Y" }} <a href="mailto:&#x64;&#x69;&#x6d;&#x69;&#x74;&#114;&#105;&#121;&#64;&#103;&#x6d;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#x44;&#109;&#x69;&#116;&#x72;&#x79;&#32;&#x53;&#105;&#x6c;&#x61;&#x6e;&#116;&#105;&#x65;&#118;</a></p>
  </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="assets/js/scripts.js"></script>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['b._setAccount', 'UA-1837333-7']);

				_gaq.push(['b._trackPageview']);
			   
		(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
	</script>

</body>

</html>