<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="robots" content="index, follow" />
  
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}"/>
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="assets/images/mitka.png" />
  
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" type="image/x-icon" href="assets/images/mitka.png">
  <link rel="apple-touch-icon" href="assets/images/mitka.png">
 
  <script src="assets/js/modernizr.js"></script>
  
  <link rel="stylesheet" href="assets/styles/styles.css" />

</head>

<body>
  <div class="overlay"></div>
  <div class="page-wrapper animate bounceInLeft">

    <header class="animate fadeIn">
      <a href="{{ page.url }}" class="avatar"></a>
      <h1 class="phrase animate hidden"></h1>
      <div class="clearfix"></div>
    </header>