<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="description" content="Dmitry Silantiev - interective and UX designer located in Kyiv, Ukraine." />
  <meta name="keywords" content="designer, ux, interective, graphic, dmitry silantiev" />
  <meta name="robots" content="index, follow" />
  
  <meta property="og:title" content="Dmitry Silantiev" />
  <meta property="og:description" content="Dmitry Silantiev - interective and UX designer located in Kyiv, Ukraine."/>
  <meta property="og:url" content="http://dmitrysilantiev.com/" />
  <meta property="og:image" content="http://dmitrysilantiev.com/assets/images/mitka.png" />
  
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" type="image/x-icon" href="assets/images/mitka.png">
  <link rel="apple-touch-icon" href="assets/images/mitka.png">
 
  <script src="http://dmitrysilantiev.com/assets/js/modernizr.js"></script>
  
  <link rel="stylesheet" href="http://dmitrysilantiev.com/assets/styles/styles.css" />

</head>

<body>
  <div class="overlay"></div>
  <div class="page-wrapper animate bounceInLeft">

    <header class="animate fadeIn">
      <a href="http://dmitrysilantiev.com/" class="avatar"></a>
      <h1 class="phrase animate hidden"></h1>
      <div class="clearfix"></div>
    </header>