@import url("https://rsms.me/inter/inter.css");

:root {
  --border-radius-medium: 20px;
  --border-radius-large: 20px;
  --global-padding: 80px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  margin-left: 20px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #000000;
}

.selected {
  color: rgba(128, 128, 128, 1);
}

main {
  padding: 40px 0;
}

.profile-photo img {
  border-radius: 50%;
  max-width: 510px;
  max-height: 510px;
  width: 100%;
  height: auto;
}

.secondinfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.secondinfo>div {
  flex: 1;
}

/* .secondinfo>div:not(:last-child) {
  margin-right: 1rem;
} */

h1,
h3,
.logo,
.description,
.project-details {
  font-family: "Inter";
  font-style: normal;
  letter-spacing: -0.04em;
}

h1 {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* max-width: 1200px; */
  font-weight: 700;
  font-size: 88px;
  line-height: 100%;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  color: #000000;
}

.description {
  width: 510px;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #000000;
  padding-bottom: 100px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
}

.grid-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(5, calc((100vw - 40px * 6 - 80px) / 5));
  box-sizing: border-box;

  grid-template-rows: masonry;
}

.grid-item {
  /* background-color: #ddd; */
  /* padding: 20px; */

  /* box-sizing: border-box;
  overflow: hidden; */

  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
  break-inside: avoid;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-large);
}

/* Screen widths between 1000px and 800px */
@media (max-width: 1400px) {
  h1 {
    font-size: 88px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

/* Screen widths between 800px and 380px */
@media (max-width: 960px) {
  h1 {
    font-size: 48px;
  }

  .container {
    padding: 0 40px;
  }

  .description {
    width: 100%;
    font-size: 17px;
    padding-bottom: 80px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20px;
    /* padding: 10px; */
  }
}

/* Screen widths below 380px */
@media (max-width: 380px) {
  .container {
    padding: 0 10px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* .project-card-featured:nth-child(-n + 2) {
  grid-column: span 5;
} */

/* .project-card {
  overflow: hidden;
} */

/* .project-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius-large);
} */

.project-title {
  margin: 16px 0 8px 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.project-details {
  margin: 0 16px 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.3);
}

.project-details a:hover {
  text-decoration: none;
}

.footer {
  padding-bottom: 100px;
}