@import url("https://rsms.me/inter/inter.css");

:root {
  --border-radius-medium: 10px;
  --border-radius-large: 20px;
  --global-padding: 80px;
  --global-padding-1: 1rem;
  --global-padding-1-5: 1.5rem;
  --global-padding-2: 2rem;
  --global-padding-3: 3rem;

  --global-font-size-small: 1rem;
  --global-font-size-medium: 1.25rem;
  --global-font-size-medium-15: 1.5rem;
  --global-font-size-medium-2: 2rem;
  --global-font-size-large: 3rem;
  --global-font-size-xl: 4rem;
  --global-font-size-xxl: 5.5rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, "Inter", sans-serif;
  font-size: var(--global-font-size-medium);
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
  text-decoration: underline;
  text-decoration-color: #00000040;

}

header {
  padding: 20px 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: #ffffff; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  margin-left: 20px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: var(--global-font-size-medium);
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #000000;
}

.selected {
  color: rgba(128, 128, 128, 1);
}

main {
  padding: 40px 0;
  padding-top: 120px;
}

.profile-photo img {
  border-radius: 50%;
  max-width: 240px;
  max-height: 240px;
  width: 100%;
  height: auto;
}

.secondinfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.secondinfo > div {
  flex: 1;
}

h1,
h3,
.logo,
.description,
.project-details {
  font-style: normal;
  letter-spacing: -0.04em;
}

h1 {
  display: flex;
  font-weight: 700;
  font-size: var(--global-font-size-xxl);
  line-height: 100%;
  color: #000000;
  padding-bottom: var(--global-padding-2);
  width: 70%;
}

h3 {
  font-weight: 700;
  font-size: var(--global-font-size-medium);
  line-height: 140%;
  color: #000000;
  padding-bottom: var(--global-padding-1-5);
}

.description {
  width: 600px;
  font-weight: 400;
  font-size: var(--global-font-size-mdeium);
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #000000;
  padding-bottom: 100px;
}

.logo {
  font-weight: 700;
  font-size: var(--global-font-size-medium);
  line-height: 22px;
  color: #000000;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--global-font-size-medium);
  line-height: 140%;
  letter-spacing: -0.02em;
  /* padding-top: 2rem; */
  padding-bottom: 1rem;
}


div > p > img {
  /* height: 400px; */
  align-items: center;
}


.aboutlinks {
  padding-bottom: 100px;
}

.button-cta {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 99px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: var(--global-font-size-medium);
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 24px 24px;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform;
}

.button-cta2 {
  border: 2px solid #1A1A1A;
  background-color: #ffffff00;
  color: #000000;
}

.button-cta:disabled {
  pointer-events: none;
}

.button-cta:hover {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
  transform: translateY(-2px);
  text-decoration: none;
}

.button-cta:active {
  box-shadow: none;
  transform: translateY(0);
}

.container {
  margin: 0 auto;
  padding: 0 80px;
}

.grid-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -1rem;
  margin-bottom: 0.5rem;
}

.project-card {
  padding: 1rem;
  padding-bottom: 2rem;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-large);
  object-fit: cover;
}

.project-title {
  margin: 8px 0 8px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: var(--global-font-size-medium-15);
  line-height: 100%;
  color: #000000;
}

.project-details {
  margin: 0 8px 8px;
  font-weight: 400;
  font-size: var(--global-font-size-medium);
  line-height: 100%;
  color: rgba(0, 0, 0, 0.3);
} 

.archive-project-title {
  font-size: var(--global-font-size-medium);
}

.archive-project-details {
  font-size: var(--global-font-size-small);
}

.single {
  margin: -16px 0 32px;
  font-size: var(--global-font-size-medium);
} 

a.project-details:hover {
  text-decoration: none;
}

.footer {
  padding-bottom: 100px;
}

.footerNavigation {
  font-size: var(--global-font-size-medium-2);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-top: var(--global-padding-3);
  line-height: 100%;
}

.footerNavigation :hover {
  text-decoration: none;
}

.footerNavigation > div {
  flex: 1;
}

@media (max-width: 576px) {

  .button-cta {
    width: 100%;
  }

  .aboutlinks {
    padding-bottom: 40px;
  }

  nav {
    overflow: hidden;
  }

  .project-title {
    margin: 8px 0 8px 8px;
    font-size: var(--global-font-size-small);
    color: #000000;
  }

  .project-details {
    margin: 0 8px 8px;
    font-size: var(--global-font-size-small);
  }

  .secondinfo {
    
    display: flex;
    flex-direction: column;
    
  }

  .secondinfo > div {
    flex: 1;
    padding-bottom: var(--global-padding-3)
  }

  h1 {
    font-size: var(--global-font-size-large);
    width: 100%;
  }

  .container {
    padding: 0 10px;
  }

  .grid-item {
    margin: -0.25rem;
  }
  
  .project-card {
    padding: 0.25rem;
    padding-bottom: 1.5rem;
  }

  .description {
    width: 100%;
    font-size: var(--global-font-size-medium);
  }

}

@media (min-width: 577px) and (max-width: 1239px) {
  .grid-item {
    margin: -0.5rem;
    /* margin-bottom: 1rem; */
  }
  
  .project-card {
    padding: 0.5rem;
    padding-bottom: 2rem;
  }

  h1 {
    font-size: var(--global-font-size-xl);
      width: 100%;
  }

  .container {
    padding: 0 40px;
  }

  .description {
    width: 100%;
    font-size: var(--global-font-size-medium);
    padding-bottom: 80px;
  }
}


/* Archive */

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
}
.year-header {
  grid-column: 1;
  font-size: 6rem;
  font-weight: 700;
}