{{ define "main" }}
<div class="container">
  <h1>{{ .Title }}</h1>
  <div class="description">{{ .Description }}</div>
  <div class="grid-container">
    {{ range .Pages }}
    <a class="project-card" href="{{ .Permalink }}">
    <div class="project-card a">
      <img class="project-image" src="{{ .RelPermalink }}{{ with .Params.imageFeatured }}{{ . }}{{ else }}{{ .Params.image }}{{ end }}" alt="{{ .Title }}">
      <h4 class="project-title">{{ .Title }}</h4>
      <div class="project-details">{{ .Params.type }}, {{ .Date.Format "2006" }}</div>
    </div>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
