{{ define "main" }}
<div class="container">
  <h1>{{ .Title }}</h1>
  <div class="description">{{ .Description }}</div>
  <div class="grid-container">
    {{ range .Pages }}
    <div class="grid-item">
      <a class="project-card" href="{{ .Permalink }}">

        {{ partial "img_list_compress.html" . }}

        <h4 class="project-title archive-project-title">{{ .Title }}</h4>
        <div class="project-details archive-project-details">{{ .Params.type }}, {{ .Date.Format "2006" }}</div>
      </a>
    </div>
    {{ end }}
  </div>  
</div>
{{ end }}