body {
	color: #000000;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

#bg_top, #bg_bottom, #bg_left, #bg_right {
	background: #000000;
	position: fixed;
	}
	#bg_left, #bg_right {
		top: 0; bottom: 0;
		width: 30px;
		}
		#bg_left { left: 0; }
		#bg_right { right: 0; }
		
	#bg_top, #bg_bottom {
		left: 0; right: 0;
		height: 30px;
		}
		#bg_top { top: 0; }
		#bg_bottom { bottom: 0; }

article {
	color: #d4d42e;
	width: 600px;
	color: rgba(0, 0, 0, 0.5);

}

h1.about {
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
}

.big {
	font-size: 36px;
	font-weight: bold;
	margin-top: -8px;
	margin-bottom: -8px;
	color: rgba(0, 0, 0, 1);
}

.small {
	font-size: 14px;
}

h2.about {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 60px;
	margin-bottom: 0;
}

a {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

a:hover {
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(231, 75, 59, 1);
	-webkit-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 250ms ease-in;
}

.page-wrapper {
	padding: 100px 150px 0;
	
}

.about a {
	color: #000000;
}

#projects {
	overflow: hidden;
}

#projects a {
	border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

#projects ul {
	padding: 0;
  }

#projects li {
	opacity: 1;
	float: left;
	list-style: none;
	width: 280px;
	height: 280px;
	margin-right: 40px;
	margin-bottom: 100px;
	line-height: 0;
}

#projects li a:hover {
	border-bottom: none;
	opacity: .5;
}

/* BEHANCE */

.behance-title  {
  	margin: 10px 0 0;
  	line-height: 25px;
  	color: rgba(0, 0, 0,.6);
}
.behance-text  {
 	margin: 0;
	line-height: 16px;
 	color: rgba(0, 0, 0,.6);
	font-size: 12px;
 }


.footer {
	padding: 0;
	font-size: 12px;
	margin-bottom: 100px;
	margin-top: 100px;
}

.footer a {
	border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 694px) {

	.page-wrapper {
		padding: 40px 100px 0;
		position: relative; 
		width: auto;
	}

}