<div class="grid-container">
    {{ $featuredProjects := where site.Pages "Params.featured" true }} {{ range
    $featuredProjects }}

    <div class="grid-item">
        <a class="project-card featured" href="{{ .Permalink }}">
            <img class="project-image"
                src="{{ .RelPermalink }}{{ with .Params.preview }}{{ . }}{{ else }}{{ .Params.previewFeatured }}{{ end }}"
                alt="{{ .Title }}" />
            <h4 class="project-title">{{ .Title }}</h4>
            <div class="project-details">
                {{ .Params.type }}, {{ .Date.Format "2006" }}
            </div>
        </a>
    </div>

    {{ end }}
</div>