{{ define "main" }}
<div class="container">
  <h1 style="padding-bottom: 0px;">{{ .Title }}</h1>
  <h1>{{ .Params.subtitle }}</h1>

  <div class="aboutlinks">
    <a class="button-cta" href="{{ .Params.profileUrl }}" target="_blank" rel="noopener noreferrer">Profile</a>
    <a class="button-cta button-cta2" href="{{ .Params.cvUrl }}" target="_blank" rel="noopener noreferrer">CV</a>
  </div>

  <div class="secondinfo">
    <div>
      <h3>Experience</h3>
      <ul>
        {{ range .Params.experience }}
        <li>{{ .title }}</li>
        {{ end }}
        <br />
        <li>&rarr; <a href="{{ .Params.linkedinUrl }}" target="_blank" rel="noopener noreferrer" >More</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>Contacts</h3>
      <ul>
        {{ range .Params.contacts }}
        <li>
          &rarr;
          <a href="{{ .link }}" target="_blank" rel="noopener noreferrer"
            >{{ .name }}</a
          >
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

  <!-- {{ partial "featuredwork.html" . }} -->
  
</div>
{{ end }}
