{{ define "main" }}
<style>

</style>
<div class="container">
  <h1>{{ .Title }}</h1>
  <div class="description">{{ .Description }}</div>

  {{ $groupedPages := .Pages.GroupByDate "2006" "desc" }}

  {{ range $groupedPages }}
  <div class="grid">
    <div class="year-header">
      {{ .Key }}
    </div>

    {{ $counter := 1 }}
    {{ range .Pages }}
    <div class="grid-item">
      {{ if .Params.externallUrl }}
      <a class="project-card" href="{{ .Params.externallUrl }}" target="_blank">
      {{ else }}
      <a class="project-card" href="{{ .Permalink }}">
      {{ end }}

      {{ partial "img_list_compress.html" . }}

      <h4 class="project-title archive-project-title">{{ .Title }}</h4>
      <div class="project-details archive-project-details">{{ .Params.type }}, {{ .Date.Format "2006" }}</div>
      </a>
    </div>
    {{ $counter = add $counter 1 }}
    {{ if eq $counter 5 }}
      {{ $counter = 1 }}
      {{ range last (sub 1 (len .Pages)) (slice .Pages (len .Pages)) }}
      <div class="grid-item" style="border: none;"></div>
      {{ end }}
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
