---
title: Dmitry Silantiev Portfolio
description: Dmitry Silantiev - interective and UX designer located in Kyiv, Ukraine
keywords: designer, ux, interective, graphic, dmitry silantiev
url: http://dmitrysilantiev.com/

---
description: Bla bla I’m ready to take on board new projects, so if you need any help or have interesting projects please <a href="mailto:&#100;&#x69;&#109;&#x69;&#x74;&#114;&#105;&#121;&#x40;&#x67;&#109;&#x61;&#x69;&#108;&#46;&#x63;&#x6f;&#109;">get in touch</a>. Some of my work can be seen at <a href="http://behance.net/mitka">behance</a> and <a href="http://dribbble.com/mitkazavr">dribbble</a>.
---

{% include header.html %}

{{ content }}

{% include footer.html %}