.logo {
    font-weight: 700;
    font-size: var(--global-font-size-medium);
    line-height: 22px;
    color: #000000;
  }

header {
    padding: 20px 0;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: #ffffff; */
  }